// Variables
$blue-color:#497cb1;
$green-color:#00a550;

.header h1.logo a {
	background-color: $blue-color;
}

.header h1.logo a.logo-attach-2 {
	display:none;
	padding-top:15px;
	padding-bottom:0px;
	margin-top:15px;
}

.header h1.logo a.logo-attach-2 img {
	margin-top:12px;
	margin-left:-25px;
}

.container.text-center > h2 {
	font-weight:400;
}

#dna-image {
	margin-bottom:30px;
	margin-top:-50px;
}

.hidden {
	display:none;
}

section.promo.section-on-bg p > a {
	background-color:$green-color;
	border-color:$green-color;
}

section.promo.section-on-bg div > button {
	text-transform:capitalize;
}

ul.nav.navbar-nav li.nav-item.active > a {
	color:$green-color !important;
}

ul.nav.navbar-nav li.nav-item > a:hover {
	color:$green-color !important;
}

ul.nav.navbar-nav li.nav-item.nav-item-cta > a:hover {
	background-color:$green-color !important;
	color:#ffffff !important;
	border-color:$green-color !important;
}

#life-section > figure > img {
	border-radius:5px;
	-webkit-box-shadow: -1px 7px 8px -7px rgba(0,0,0,0.36);
	-moz-box-shadow: -1px 7px 8px -7px rgba(0,0,0,0.36);
	box-shadow: -1px 7px 8px -7px rgba(0,0,0,0.36);
}

#life-section > div > h3.title {
	font-size:35px;
	color:#bed530;
	font-weight:400;
}

#life-section div.desc p > a {
	color:$blue-color;
}

.carousel-inner p.source {
	font-size:25px;
}

.carousel-inner p#slide-item1 {
	color:#d61d7d;
}

.carousel-inner p#slide-item2 {
	color:#00ac9e;
}

.carousel-inner p#slide-item3 {
	color:#008bc1;
}

.carousel-inner p#slide-item4 {
	color:#4e1b3d;
}

.testimonials .carousel-indicators li.active {
	background:#666666;
}

.carousel-inner p.content-text {
	font-size:16px;
}

.testimonials {
	padding-bottom:80px;
}

.testimonials .title {
	font-weight:400;
}

.cta-section {
	padding-top:120px;
}

.cta-section .title {
	font-weight:400;
}

div.row-features {
	margin-top:-60px;
}

div.feature-header h2 {
	margin-bottom:15px !important;
}

div.feature-header h3 {
	color:#ffffff;
	font-weight:200;
	padding-top:15px;
}

div.feature-header p {
	font-weight:200;
	color:white;
}

ul.nav.nav-tabs li {
	background-color:#fafafa;
}

ul.nav.nav-tabs li a {
	background:transparent;
}

ul.nav.nav-tabs li.active a {
	background:transparent;
}

ul.nav.nav-tabs li.active {
	background-color:#ffffff;
}

div.headline-feature {
	height:400px;
}

figure.feature-figure {
	box-shadow: none;
	margin-top:-20px;
}

figure.feature-figure img {
	box-shadow: none !important;
}

.row-directions > div > img {
	width:200px;
	display:block;
	margin:0 auto;
	padding-bottom:10px;
}

p.contact-text span {
	color:$green-color;
	font-size:25px;
}

.pricing .item .heading{
	padding-bottom: 0px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
 #dna-image {
 	display:none;
 }
 div.row-features {
	margin-top:-135px;
	}
 
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
	div.row-features {
		margin-top:-110px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
	div.row-features {
		margin-top:-135px;
	}
}

/* Smartphones (iphone 6 portrait) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 375px) {
/* Styles */
 div.row-features {
	margin-top:-145px;
 }
 
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
	div.row-features {
		margin-top:-60px;
 	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
	.features-video {
		padding-top:30px;
	}
	div.row-features {
		margin-top:-70px;
 	}
 	p.truncate {
		height:70px;
		overflow:hidden;
 	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
	.header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
		background-color:transparent;
		border:1px solid $green-color;
		color:$green-color;
	}
	.header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary:hover {
		background-color:$blue-color;
	}
	div.row-features {
		margin-top:-60px;
	}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
	div.row-features {
		margin-top:-60px;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}